
body{margin:0px; font-family: "roboto", sans-serif; font-weight: 400; font-style: normal}
div {width: 1200px; margin: 10px auto}

header{background: #B7CDC3; min-height: 150px; margin: 0 10 10px; padding: 30px; text-align: center}
nav{background: white; min-height: 50px; margin: 0 0 10px}

nav ul{list-style: none; padding: 0px; display: flex}
nav li{background-color: white; width: 240px; height: 50px; text-align: center; line-height: 50px}
nav a{background:#72A29A; display: block; color: white; text-decoration: none; font-family: "ivypresto-display", serif; font-weight: 500; font-style: normal}
nav a:hover{background: #51888B}

main{background: #D9E4DF; min-height: 500px; margin: 0px 0px 10px; padding: 40px} 
footer{background: #51888B; color: white; min-height: 30px; text-align: center; padding: 30px}

h1 {color: #2E686A; ; font-family: "ivypresto-display", serif; font-weight: 600;
	font-style: normal} 
h1 {font-size: 30px}
h3 {color: #2E686A; font-family: "ivypresto-display", serif; font-weight: 600;
	font-style: normal} 
h4{font-size: 25px; font-family: "ivypresto-display"; color: #2E686A}
h4 {color:#172F35, font-weight 700}
p {color: #2E686A; font-family: "arial", serif; font-weight: 400;
	font-style: normal,}
p {font-size: 18px}
p2 {color: #2E686A; font-family: "arial", serif; font-weight: 400;
	font-style: normal; text-align: center}
p2 {font-size: 18px}
h5 {color: #2E686A; ; font-family: "ivypresto-display", serif; font-weight: 600;
	font-style: normal; text-align: center} 
h5 {font-size: 40px}

.center { 
display:block; 
margin-left: auto;
margin-right: auto;
width: 70%}

hr.solid {
	border-top: 10px solid #FFFFFF;
	border-radius: 10px
}

table {
    border-radius: 15px;
    overflow: hidden;
    display: block;
}

th, td {
    padding: 15px;
    vertical-align: top;
} 


.wrapper {
  display: flex;
  justify-content: center;
	padding-right: 100px
}
.box {
  flex: 0 40%;
  text-align: center;
  display: center;
  flex-direction: column;
  align-items: center; align-content: center;
	  padding-right: 100;
  border: 1px solid #2D7A79;}
button {
  margin-top: auto;
}